<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Jordan's Go Shop</title>
    </head>

    <body>
        <h1>Jordan's Go Shop (Formerly Jordan's Ramen)</h1>

        <form action="/delete_items" method="post">
            <button type="submit">Delete Selected Items</button>
            <table border="1">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>ID Number</th>
                        <th>Item Name</th>
                        <th>Item Description</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in inventory_dict.items() %}
                    <tr>
                        <td><input type="checkbox" name="selected_items" value="{{ key }}"></td>
                        <td>{{ key }}</td>
                        <td>{{ value[0] }}</td>
                        <td>{{ value[1] }}</td>
                        <td>{{ value[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>

        <h2>Add Inventory</h2>
        <form action="/add_item" method="post">
            <input type="number" name="id" placeholder="ID" required>
            <input type="text" name="name" placeholder="Item Name" required>
            <input type="text" name="description" placeholder="Item Description" required>
            <input type="number" name="quantity" placeholder="Quantity" required>
            <button type="submit">Add Item</button>
        </form>

    </body>

</html>